body, html {
  height: 100%;
  background: linear-gradient(91deg, #fbfbfb, #efefef);
  font-family: 'Montserrat', sans-serif, Arial;
  overflow: hidden;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  width: 100%;
  position: relative;
  height: 100%;
}

button, a, input, form {
  pointer-events: visible;
}
/* Nav */
#nav_id {
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  float: left;
  padding: 5px;
  z-index: 5;
  color: #fff;
}
#nav_id:after {
  content: "";
  width: 100%;
  height: 100%;
  background: #808080;
  position: absolute;
  opacity: 0.3;
  top: 0;
  left: 0;
  z-index: -1;
}

#nav_id .li_cls {
  list-style: none;
  float: left;
  width: calc(100% / 5);
  text-align: center;
  padding: 0;
  margin: 0;
  cursor: pointer;
  position: relative;
}

#nav_id .li_cls.active:after {
  content: "";
  width: 50%;
  height: 1px;
  background: #000;
  position: absolute;
  left: 0;
  bottom: -0.5px;
  transition: 0.3s ease-in-out;
  transform: translate(50%, 50%);
}


#nav_id li button:after, #nav_id li:hover a:after {
  transition: all 0.3s cubic-bezier(1, 0.5, 0.8, 1);
  content: '';
  height: 1px;
  background: #ffffff;
  position: relative;
  width: 0px;
  top: 5px;
  display: block;
  left: 0;
}

.sub_bar {
  padding: 0;
  color: #000;
  font-weight: bold;
  font-size: 0.85vw;
}

#ul_1 {
  position: relative;
  width: 50%;
  margin: auto;
  padding: 0;
  text-align: center;
}

#nav_id li.slick-active button:after, #nav_id li:hover a:after {
    width: 105%;
}
#nav_id .navbar-right ul {
  position: relative;
  top: 0;
}
#nav_id li button {
  color: #fff;
  text-transform: uppercase;
  background: none;
  border: none;
  font-size: 12px;
}

/* CONTENT WRAPPER */
.content-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  float: left;
  color: #fff;
  z-index: 2;
}
.header-text, .contents-new {
  position: relative;
  top: 10%;
}
.header-text {
text-align: center;
text-transform: uppercase;
}
.header-text h2 {
  font-size: 50px;
  font-weight: bold;
}

/* mobile Nav */
.item.slick-slide:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-size: cover;
  background-position: 0;
  opacity: 0.8;
  z-index: -1;
  background-repeat: no-repeat;
}
.slideshow-content .items .first-div.col-sm-12 {
  min-height: 60vh;
}
.slideshow-content .items h2 {
  font-size: 50px;
}
video#hero-vid {
  opacity: 0.8;
  pointer-events: none;
}
.one-slicer, .two-slicer, .three-slicer, .four-slicer, .five-slicer, .six-slicer {
  position: relative;
  height: 100%;
  float: left;
}
.one-slicer {
  width: 100%;
}
.two-slicer {
  width: 50%;
}
.three-slicer {
  width: 33.33333%;
}
.four-slicer {
  width: 25%;
}
.five-slicer {
  width: 16.66667%;
}
.six-slicer{
  width: 8.33333%;
}
.col-sm-12.item-wrapper {
  padding: 10px 15%;
}
.white-wrap, .sub-item-wrapper  {
  position: relative;
  width: 100%;
  height: 100%;
  float: left;
}
.white-wrap {
  padding: 20px 10px;
}
.white-wrap:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  background-color: #d6d2b8;
  float: left;
  left: 0;
  top: 0;
  opacity: 0.5;
}
.white-wrap h3 {
  color: #000;
  text-shadow: 0px 0px 10px #fff;
  margin-top: 0;
}
img.responsive-img {
  width: 100%;
  height: auto;
  position: relative;
}
.tile-wrapper img.responsive-img {
  padding: 2.5px;
}


