html, body {
  height: 100%;
  position: relative;
  font-family: 'Montserrat', sans-serif, Arial;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  width: 100%;
  position: relative;
  height: 100%;
}

button, a, input, form {
  pointer-events: visible;
}
/* Nav */
#nav_id {
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  float: left;
  padding: 5px;
  z-index: 10;
  color: #fff;
  background: linear-gradient(180deg, #20202000, #0000001c);
}

/* #nav_id:after {
  content: "";
  width: 100%;
  height: 2.25vw;
  background: linear-gradient(180deg, #20202017, #00000045);
  position: absolute;
  opacity: 0.3;
  top: 0;
  left: 0;
   z-index: -1;
} */

#nav_id .li_cls {
  list-style: none;
  float: left;
  width: auto;
  text-align: center;
  padding: 0;
  margin: 0 calc(25% / 5);
  cursor: pointer;
  position: relative;
  font-size: 0.9125vw;
}

#nav_id .li_cls:after {
  content: "";
  height: 1px;
  background: #000;
  position: absolute;
  left: 0;
  bottom: -0.5px;
  width: 0;
  transition: 0.3s ease-in-out;
}

#nav_id .li_cls.active:after {
  width: calc(100% + 10px);
  transform: translate(-5px, 0);
}

#nav_id li button:after, #nav_id li:hover a:after {
  transition: all 0.3s cubic-bezier(1, 0.5, 0.8, 1);
  content: '';
  height: 1px;
  background: #ffffff;
  position: relative;
  width: 0px;
  top: 5px;
  display: block;
  left: 0;
}

.sub_bar {
  padding: 0;
  color: #000;
  font-weight: bold;
  font-size: 0.85vw;
}

#ul_1 {
  position: relative;
  width: 50%;
  margin: auto;
  padding: 0;
  text-align: center;
}

#nav_id li.slick-active button:after, #nav_id li:hover a:after {
    width: 105%;
}
#nav_id .navbar-right ul {
  position: relative;
  top: 0;
}
#nav_id li button {
  color: #fff;
  text-transform: uppercase;
  background: none;
  border: none;
  font-size: 12px;
}

/* CONTENT WRAPPER */
.content-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  float: left;
  color: #fff;
  z-index: 2;
}
#ui_wrapper {
  /* top: calc(1vw + 30px); */
}
.header-text, .contents-new {
  position: relative;
  top: 10%;
}
.header-text {
text-align: center;
text-transform: uppercase;
}
.header-text h2 {
  font-size: 50px;
  font-weight: bold;
}

/* mobile Nav */
.item.slick-slide:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-size: cover;
  background-position: 0;
  opacity: 0.8;
  z-index: -1;
  background-repeat: no-repeat;
}
.slideshow-content .items .first-div.col-sm-12 {
  min-height: 60vh;
}
.slideshow-content .items h2 {
  font-size: 50px;
}
video#hero-vid {
  opacity: 0.8;
  pointer-events: none;
}
.one-slicer, .two-slicer, .three-slicer, .four-slicer, .five-slicer, .six-slicer {
  position: relative;
  height: 100%;
  float: left;
}
.one-slicer {
  width: 100%;
}
.two-slicer {
  width: 50%;
}
.three-slicer {
  width: 33.33333%;
}
.four-slicer {
  width: 25%;
}
.five-slicer {
  width: 16.66667%;
}
.six-slicer{
  width: 8.33333%;
}
.col-sm-12.item-wrapper {
  padding: 10px 15%;
}
.white-wrap, .sub-item-wrapper  {
  position: relative;
  width: 100%;
  height: 100%;
  float: left;
}
.white-wrap {
  padding: 20px 10px;
}
.white-wrap:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  background-color: #d6d2b8;
  float: left;
  left: 0;
  top: 0;
  opacity: 0.5;
}
.white-wrap h3 {
  color: #000;
  text-shadow: 0px 0px 10px #fff;
  margin-top: 0;
}
img.responsive-img {
  width: 100%;
  height: auto;
  position: relative;
}
.tile-wrapper img.responsive-img {
  padding: 2.5px;
}

.container_cust {
  width: 75vw;
  margin: auto;
  position: relative;
  height: 100%;
}

.section_title {
  margin-bottom: 50px;
  font-size: 2.25vw;
}

.content_p {
  text-align: left;
  font-size: 0.85vw;
}

.img_responsive {
  width: 100%;
  height: 100%;
  position: relative;
}

.img_cust {
  width: 100%;
  float: left;
  height: auto;
  pointer-events: none;
}

.scroll_down {
  width: 100%;
  position: absolute;
  float: left;
  text-align: center;
  margin: auto;
  bottom: 2.5vh;
}

.scroll_down img.img_responsive {
  width: 1.25%;
  cursor: pointer;
  margin: 10px;
}

/* First Section */ 
.section_cls {
  min-height: 65%;
  position: relative;
  background-size: 100%;
}
.section_cls .container_cust.animated {
  opacity: 0;
}

#section_1 .container_cust {
  padding-top: 2.5vh;
}

#section_1:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 60%;
  /* background: url('../images/bg-images/section_1_bg.jpg'); */
  background-size: 100%;
  filter: brightness(0.95);
  z-index: -1;
  background-repeat: no-repeat;
  background-position: 0% 40%;
}

#title_wrapper {
  padding-top: 15vh;
  text-align: right;
  padding-right: 2.5vw;
}

#title_wrapper h1 {
  font-size: 2.25vw;
}

#title_wrapper .sub_header {
  font-size: 1.25vw;
}

#hero_imgs {
  width: 100%;
  position: relative;
  float: left;
  padding-left: 2.5vw;
  height: 100%;
  top: 15vh;
}

.img_res {
  width: 30%;
}

.pad_top {
  padding-top: 10vh;
}

.pad_btm {
  padding-bottom: 20vh;
}

#hero_imgs .img_res {
  position: absolute;
  left: 0;
  box-shadow: -1px 1px 1px #fff;
  border-radius: 0 10px;
  pointer-events: none;
  transition: all 0.5s ease-in-out;
  opacity: 0;
  top: -2vh;
}


#hero_imgs .img_res.slideInDown {
  opacity: 1;
}

#hero_imgs #img_hero_1.slideInDown {
  top: 0;
}

#hero_imgs #img_hero_2.slideInDown {
  left: 1.25vw;
  z-index: 1;
  top: -1vh;
}

#hero_imgs #img_hero_3.slideInDown {
  left: 2.5vw;
  z-index: 2;
  top: -2vh;
}

#hero_imgs #img_hero_4.slideInDown {
  left: 3.75vw;
  z-index: 3;
  top: -3vh;
}

#hero_imgs #img_hero_5.slideInDown {
  left: 5vw;
  z-index: 4;
  top: -4vh;
}

/*Section 2 */
#section_2:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  float: left;
  background: linear-gradient(181deg, #3892af40, #248f804f);
  top: 0;
  left: 0;
  z-index: -1;
  /* background: url('../images/bg-images/section_1_bg.jpg'); */
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  /* filter: brightness(0.5); */
}

.sub_header.active {
  border-right: 1px solid transparent;
}

.type_animate {
  position: relative;
  float: left;
  width: 100%;
}

.txt_an_holder {
  position: relative;
  width: 100%;
  height: 2.25vw;
  float: right;
}

.sub_header.active{
  animation: blinkTextCursor 350ms steps(7) 5 normal;
}

@keyframes blinkTextCursor{
  from{border-right-color: #000;}
  to{border-right-color: transparent;}
} 


/* Works on Firefox */
* {
  scrollbar-width: thin;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: #ececec;
}

*::-webkit-scrollbar-thumb {
  background-color: #00000047;
}


.center_content {
  text-align: center;
  padding-top: 2.5vw;
  float: left;
  width: 100%;
}

#cnt_img_1 {
  /* left: 2.5vw; */
  /* top: -1vw; */
}
#cnt_img_2 {
  /* left: 0vw; */
  /* top: 7.5vh; */
}
#cnt_img_3 {
  /* left: -2vw; */
  /* top: -2.5vh; */
}

.preset_cls {
  overflow: hidden;
  width: calc(80% / 5);
  position: relative;
  float: left;
  margin: 0 5px;
  box-shadow: -1px 2px 3px #00000040;
  /* cursor: pointer; */
  transition: 1s ease-in-out;
  left: 0;

}

.preset_cls.active {
  transform: scale(1.15);
}

#preset_wrp_1, #preset_wrp_5 {
  height: 16vw;
  top: 2vw;
}
#preset_wrp_2, #preset_wrp_4 {
  height: 18vw;
  top: 0.5vw;
}

.preset_cls.pre {
  height: auto !important;
  top: 0 !important;
  margin: 0;
}

#preset_wrp_1.pre {
  left: 32%;
}

#preset_wrp_2.pre {
  left: 16%;
}

#preset_wrp_4.pre {
  left: -16%;
}

#preset_wrp_5.pre {
  left: -32%;
}

/* 3rd Sectopn */
.mntg_module {
  position: relative;
  float: left;
  width: 100%;
  padding-left: 2.5vw;
  height: 100%;
  padding-top: 2.5vh;
}

.mntg_cls {
  position: relative;
}

.mntg_cls video {
  width: calc(100% / 2);
  height: auto;
  position: absolute;
  left: 0;
  box-shadow: -3px 4px 5px #0009;
  border-radius: 0px 10px;
}

#mntg_wrp_2 video {
  top: 25vh;
}

#mntg_wrp_3 video {
  top: 12.5vh;
  left: 12.5vw;
}


.tile_wrp {
  display: flex;
  justify-items: start;
  margin: 5px;
  position: relative;
  float: left;
  width: calc((100% / 3) - 10px);
}


.tile_imgs {
  width: 100%;
  position: relative;
  float: left;
  height: auto;
  margin-bottom: 10px;
}